body {
  margin: 0;
  overflow: hidden;
  background-color:#143231 ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #a8925d;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
  animation: fadeInScale 3s ease-in-out;
}

@keyframes fadeInScale {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.fireworks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}